.blogPost header {
  align-items: center;
  display: inline-block;
}

.headerDetails {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.headerDetails > p > span {
  /* for custom italic styling */
  transform: skewX(3deg);
  font-style: italic;
}

.headerDetails > p > strong {
  font-family: "EB Garamond", Garamond, serif;
  font-weight: var(--fontWeight-bold);
}

.desktopCoverImage {
  display: none;
}

.subCategory {
  font-size: 12px;

  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--color-heading);
  color: white;
  max-width: max-content;
}

.blogPost header h1 {
  margin: var(--spacing-5) var(--spacing-0) var(--spacing-4) var(--spacing-0);
  color: var(--color-heading);
  font-size: var(--fontSize-5);
}

.blogPost header > div > p {
  font-family: var(--font-heading);
  margin: 0;
}

.blogPostNav ul {
  margin: var(--spacing-0);
}

.blogPostNav ul li {
  margin: var(--spacing-4) 0;

  font-size: 12px;
}

.coverImage {
  width: 100%;
  height: auto;
  border-radius: 3%;
}

.posterDataAndPublishedData {
  display: flex;
  align-items: center;
}

@media (max-width: 530px) {
}

/* sm	640px	 */
@media (min-width: 640px) {
  .blogPost header h1 {
    margin: var(--spacing-5) var(--spacing-0) var(--spacing-4) var(--spacing-0);
    color: var(--color-heading);
    font-size: var(--fontSize-7);
  }

  .blogPostNav ul li {
    margin: var(--spacing-2);

    font-size: 14px;
  }
}

/* md	768px	 */
@media (min-width: 768px) {
}

/* lg	1024px	 */
@media (min-width: 1024px) {
  .blogPost header {
    align-items: center;
    display: flex;
    gap: 20px;
  }

  .mobileCoverImage {
    display: none;
  }

  .desktopCoverImage {
    display: block;
  }

  .coverImage {
    width: 35%;
    height: auto;
    border-radius: 3%;
  }

  .headerDetails {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    width: 65%;
  }
}

/* xl	1280px	 */
@media (min-width: 1280px) {
}

/* 2xl	1536px	 */
@media (min-width: 1536px) {
}
