.postsListContainer {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;

  justify-content: space-between;
}

.postListItem {
  background-color: #ebf7ff;
  border-radius: 4px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  position: relative;
  height: 100%;
}

.postListItem p {
  margin-bottom: 0;
  font-size: 12px;
}

.postListItem h4 {
  margin: 0;
  font-size: var(--fontSize-2);
  font-family: "EB Garamond", Garamond, serif;
  color: var(--color-primary);
}

.coverImage {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}

.contentContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.description {
  padding-bottom: 20px;
}

.buttonsContainer {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-heading);
  position: absolute;
  bottom: 10px;
  right: 0px;

  padding-right: 15px;
  padding-left: 15px;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2px;
  column-gap: 10px;
  align-items: center;
}

.actionButton {
  display: flex;
  align-items: center;
  gap: 0 4px;
  text-decoration: underline;
}

.actionButton > span {
  margin-top: 2px;
}

.actionButton > * {
  color: var(--color-primary);
  font-size: 12px;
}

.actionButtonIcon {
  font-size: 15px;
  margin-bottom: 12px;
}

.subCategory {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  max-width: max-content;
}

@media (max-width: 530px) {
  .coverImage {
    display: none;
  }
}

/* sm	640px	 */
@media (min-width: 640px) {
  .coverImage {
    max-width: 100%;
    height: auto;
  }

  .postListItem {
    max-width: 100%;
  }

  .postsListContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* lg	1024px	 */
@media (min-width: 1024px) {
  .postsListContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .postListItem p {
    font-size: 13px;
  }

  .postListItem h4 {
    font-size: var(--fontSize-3);
    color: var(--color-primary);
  }

  .postListItem {
    padding: 20px 30px;
  }

  .buttonsContainer {
    bottom: 20px;
    right: 0px;

    padding-right: 30px;
    padding-left: 30px;
  }
}
